<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="/departments/animal-services">Animal Services</a></li>
    <li><a href="/departments/austin-code">Austin Code</a></li>
    <li><a href="/departments/austin-public-library">Austin Public Library</a></li>
    <li><a href="/departments/health-and-human-services">Health and Human Services</a></li>
    <li><a href="/departments/neighborhood-housing">Neighborhood Housing</a></li>
    <li><a href="/departments/parks-and-recreation">Parks and Recreation</a></li>
  </ul>
</div>
